*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
#main{
    height: 100%;
    width: 100%;
   background-color: #f8f8f8;
   position: relative;
   padding-top: 0.1px;
}

#nav{
    width: 100%;
    height: 10vh;
    
    margin-top: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#nav h2{
    height: 100%;
    width: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
    font-size: 1.7vw;
    color: #555556;
    font-weight: 500;
}
#nav h2:last-child{
    width: 10%;
    border-right: none;
}
#nav h1{
    height: 100%;
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    margin-right: 10px;
    font-size: 2.1vw;
    letter-spacing: -2px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    color: #000000;

}
#nav h1::after{
    content: "©";
    color: #535555;
    font-size: 25px;
    position: absolute;
    top:24%;
    right:18%;
}
#nav h1::before{
    content: "model management";
    color: #535555;
    line-height: 5px;
    letter-spacing: 0px;
    font-size: 12px;
    position: absolute;
    bottom: 24%;
    right: 23%;
}

#center{
    width: 100%;
    height: 90%;
  
    padding: 6vh;
    position: relative;
   
    
}

#content{
    width: 100%;
    height: 100%;
    position: relative;
    
}
#content video{
    width: 100%;
    height: 100%;

    object-fit: cover;
}
#overly{
    height: 60%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: transparent; */
    /* background-color: rgba(0, 0, 0, 0.144); */
    padding: 3vw;
    /* backdrop-filter: blur(1px); */
}
#overly-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffff;
    margin-bottom: 4vh;
 
}
#overly-1 h1{
    font-family: monument;
    font-weight: 100;
    font-size: 8vh;
    /* mix-blend-mode: difference; */
    color: #f8f8f8;
   
}
#overly-1 h2{

    
    display: flex
;
    align-items: center;
    justify-content: space-between;
    color: #ffff;
    padding: 1.5vw 1.5vw;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-bottom: 3vh;
   
}
#over-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #f8f8f8;
    color: #ffff;
    padding: 2vw 0;
}
#over-2 h4{
    font-weight: 500;
    font-size: 1.5vw;
}

#over-2 img{
    height: 6vw;
    font-weight: 400;

}
#scroll{
    height: 40vh;
    width: 100%;

    
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
#container{
    height: 100%;
    width: 100%;
    margin-right: 37vw;
    margin-left: 1vw;
    display: inline-block;
 white-space: nowrap;
 animation-name: scroller;
animation-duration: 15s;
animation-delay: 0.5s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: alternate;
 
   
}
#scroll img{
    height: 80%;
    border-radius: 50%;
  width:15%;
  object-fit: cover;
  object-position: 30% 0;
  display: inline-block;
 
}

@keyframes scroller {
    from{
        transform: translatex(0%);
    }
    to{
        transform: translatex(-100%);
    }
}

#alphabet{
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    border-top: 1.5px solid gray;
    border-bottom: 1.5px solid gray;

}
#alphabet h5{
    font-size: 1.6vw;
    font-weight: 600;
    text-decoration:underline;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-style: italic;
    margin-right: 2vw;
}
#alphabet h6{
    padding: 1vh 2vw;
    font-size: 1vw;
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0.2vw 0.4vw;
    border-radius: 50%;
    transition: all 0.3s ease-in;
    
}
#alphabet h6:hover{
    border: 1.5px solid rgb(117, 117, 117);
}

#page2
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 2vw 5vw;
}
#page2-part1{
    height: 100%;
    width: 50%;
    background-image: url('https://sun9-25.userapi.com/impg/8_rXG9V-0mGtVyTEizgwiSEjenO72sTzesSjgA/37FZN6DfC0o.jpg?size=721x1080&quality=96&sign=8a8dccf18cfb1045310757c2fdee4a50&type=album');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}
.p2-heading{
 
    padding-left: 7.3vw;
    font-size: 3vw;
    
}
.p2-heading h2{
    font-size: 2.8vw;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* #page2-part1::after{
    content: "vogue / shot";
    position: absolute;
    bottom: -13%;
    left: 1%;
    font-size: 3vw;
    font-weight: 600;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: -3px;

} */
#page2-part2{
    /* display: grid;
   grid-template-areas: "img img  "
                            "para1 para2"; */
    /* height: 80%;
    width: 40%;
    background-image: url('https://scontent.fpnq7-2.fna.fbcdn.net/v/t1.6435-9/51435095_10157190865151520_454901151918194688_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=7b2446&_nc_ohc=bzCFfGu3KCcQ7kNvgHiKofJ&_nc_zt=23&_nc_ht=scontent.fpnq7-2.fna&_nc_gid=AfvLXynQl5V4KqAy4imjCa4&oh=00_AYCpmC7MmP1_cBVDQ17E4--_byOveBe0x2Sn3SNG2GcErg&oe=6767E0E2');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; */

width: 40%;
height: 70%;
background-color: black;


    
}
#page2-part2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
 
}

#page2-part2-text{
    padding-top: 1vw;
    font-size: 1.5vw;
    font-weight: 400;
    font-family: Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}
#page2-part2-text h2{
    font-size: 1.5vw;
    font-weight: 400;
    font-family: Helvetica, sans-serif;
    color: rgb(20, 20, 20);

}

#page2-part2-text h3{
    align-self: top;
    font-size: 0.9vw;
    font-weight: 400;
    font-family: Helvetica, sans-serif;
    color: rgb(37, 36, 36);

}

#page3{
    height: 100vh;
    width: 100%;
   
}

#inner-page3{
    height: 95vh;
    width: 100%;
    padding: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#page-3-circular-text{
    height: 100%;
    width: 47%;
    display: flex
;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#page-3-circular-img{
    height:70%; 
    width: 100%;
}
#page-3-circular-text img{
    position: relative;
    height: 100%;
    width: 100%;

    
}

#page-3-circular-text h3{
    width: 79%;
    height: 20%;
    padding: 2vw;
    margin-left: -9vw;
    font-size: 1vh;
    color: rgb(53, 52, 52);
    line-height: 1.5vw;
    font-size: 1.5vw;
    font-weight:600;
    font-family: Arial, Helvetica, sans-serif;

}


#page-3-image{
    height: 100%;
    width: 70%;
}
#page-3-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 10% 20%;
   
}
/* #page2-part2 img{
    grid-area: img;
    width: 100%;
    height: 60%;
    
   background-color: red;
    

}

#page2-part2 h2{
    grid-area: para1;
    height: 40%;
    width: 50%;
    background-color: yellow;
}
#page2-part2 h3{
    grid-area: para2;
    height: 40%;
    width: 50%;
    background-color: yellow;
} */

#page4
{
    height: 90vh;
    width: 100%;
    padding: 4vw;

    
}
#page4-box{
    padding: 2vw;
    width: 100%;
    height: 100%;
    background-image: url(https://assets.vogue.com/photos/6054eb9c294f854267643048/16:9/w_1600%2Cc_limit/08_Nadine%2520Ijewere_Orange%2520Dress%2C%25202018%2520adS%2520Joy%2520as%2520an%2520Act%2520of%2520Resistance%2520fuer%2520I-D%2520Magazine_c_Nadine%2520Ijewere.jpg);
    padding: 5vw;
    background-size: cover;
    background-position: top;
}
#page5{
    margin-top: -1vw;
    height: 85vh;
    width: 100%;
    padding: 0.3vh 6vw;

    
}
#page5-heading{
    text-align: center;
    font-size: 3vw;

    font-weight: 600;
    color: #020202;
    text-transform: uppercase;
    margin-bottom: 7vh;

}

.elem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 14vh;
    width: 100%;
    /* background-color: rebeccapurple; */
    border-top: 1.5px solid black;
    padding: 0 2vw;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
/* #page-5-image {
    height: 1vh;
    width: 12vw;
    padding: 2vw;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 0;
    left: 20%;
}
#page-5-image img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    object-position: center;

} */

.elem img{
    /* margin-top: 0.5vw; */
    position: absolute;
    top: 0;
    left: 20%;
    width: 8%;
    height: 100%;
    border-radius: 50%;
    object-position: 0 30%;
    object-fit: cover;
    opacity: 0;
    transition: all ease 0.7s;
    

}



.elem h4{

    font-size: 0.8vw;
    align-self: flex-start;
    justify-content: flex-start;
    text-transform: uppercase;
    font-weight: 600;
    color: #141313;
    width: 6%;
}
.elem .elem-part2{
    width: 50%;
}
.elem-part2 h1{
    font-size: 2.7vw;
    font-weight: 500;
    color: #020202;
}
.elem-part2 h5{
    font-size: 1vw;
    font-weight: 500;

    color: #020202;
}

.elem:nth-last-child(1){
    border-bottom: 1.5px solid black;
}

.elem:nth-last-child(odd) img{
    left: 45%;
}
.elem:hover {
    background-color: #d4cfcf;
}
.elem:hover img{
    opacity: 1;
    left: 30%;
}
#page6{
    height: 90vh;
    width: 100%;
    padding: 3vw;
    display: flex;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    gap: 3vw;
    /* margin-bottom: 2vh; */
}
#page6-part1{
    width: 40%;
    height: 100%;
    /* background-color: yellow; */
}

#p6-p1-img{
    height: 100%;
    width: 100%;
  

}

#p6-p1-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 20%;
}
#page6-part2{
    width: 60%;
    height: 100%;
    /* background-color: violet; */
    gap: 1vh;
    display: flex;
    flex-direction: column;
    /* display:grid; */
    /* grid-template-areas: "heading1"
                            "heading2"
                            "heading3"
                            "image image";


    border: 2px solid black; */

}
#page6-part2-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    justify-content: space-between;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    
    align-items: flex-start;
}
#page6-part2-text h2{
    
    width: 100%;
    font-size: 3.5vw;
    font-weight: 800;
    text-transform: uppercase;
    color: #000000;
}
#page6-part2-text h3{
    font-size: 1.7vw;
    line-height: 1.8vw;
    font-weight: 600;
    line-height: 1.8vw;
    letter-spacing: 0.01vw;
    color: #070707;
    font-family: Arial, Helvetica, sans-serif;
}
#page6-part2-text h4{
    font-size: 1vw;
    FONT-WEIGHT: 500;
    line-height: 1.5vw;
    letter-spacing: 0.05vw;
    word-spacing: 0.06vw;
    color: #1b1a1a;
    font-family: Arial, Helvetica, sans-serif;
}
#page6-part2-img{
    width: 100%;
    height: 50%;
    display: flex;
    gap: 1vw;

}
.imgbox6{
    width: 50%;
    height: 100%;
    /* background-color: red; */
}
.imgbox6 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 0 ;
}
#page7{
    width: 100%;
    height: 90%;
    padding: 5vw;
    /* background-color: yellow; */
    padding: 5vw;
}
#page7-image{
    width: 100%;
    height: 100%;
    /* background-color: pink; */
}
#page7-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
#page8{
    
    height: 105vh;
    width: 100%;
    padding: 5vw;
    /* background-color: yellowgreen; */
    

}
#page8-main{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    gap: 1vw;

}
#page8-part1{
    height: 100%;
    width: 65%;
    /* background-color: maroon; */

}
#page8-part1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;


}
#page8-part2{
    height: 100%;
    width: 35%;
    /* background-color: #000000; */
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
#page8-part2-img{
    height: 70%;
    width: 100%;
    /* background-color: yellow; */

}
#page8-part2-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
  
}
#page8-part2-text{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1vw;
    /* background-color: honeydew; */
}
#page8-part2-text h2{
    font-size: 1.3vw;
    font-weight: 550;
    line-height: 1.5vw;
    color: #1d1c1c;
    font-family: arial;
   
   

}
#page8-part2-text h3{
    font-size: 0.9vw;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1vw;
    letter-spacing: 0.05vw;
    word-spacing: 0.04vw;
    color: #1e1d1d;
}
#marque{
    /* height: 15vh; */
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0.5vw;
    border-top: 1.5px solid #b7abab;
    border-bottom: 1.5px solid #b7abab;
}
#marque h1{
    display: inline-block;
    font-size: 2.5vw;
    text-transform: uppercase;
    font-weight: 900;

    -webkit-text-stroke: 1.8px #3f3f3f;
    color: transparent;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    animation-name: marque-move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;


}

@keyframes marque-move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 4px));
    }
    
}

#page9
{
    padding: 9vw;
    height: 95vh;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 40% 60%;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 2vw;
}

#page9-heading {
    
    grid-column: 1/2;
    grid-row: 1/3;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5vw;
    align-self: start;
    text-transform: uppercase;
}

.grid-sec-col{
    align-self: start;
    grid-column: 2 / 3;
    grid-row: 1/2;
    font-size: 1.6vw;
    font-weight: 550;
    line-height: 1.9vw;
    letter-spacing: 0.04vw;
    color: #2a2828;
    font-family: Arial, Helvetica, sans-serif;
    /* text-indent: 3vw; */
}
.grid-last-col{
    align-self: start;
    grid-column: 3 / 4;
    grid-row: 1/2;
    font-size: 1.6vw;
    font-weight: 550;
    line-height: 1.9vw;
    letter-spacing: 0.04vw;
    color: #2a2828;
    font-family: Arial, Helvetica, sans-serif;
    /* text-indent: 3vw; */
   
}
#page9-image1{
    width: 100%;
    height: 100%;
   

}

#page9-image1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
#page9-image2{
    width: 100%;
    height: 100%;
   

}

#page9-image2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
.grid-text::before{
    content: 'B';
    font-size: 1.5vw;
    color: #635d5d;
    padding: 7px 13px;
    border-radius: 50%;
    border: 3.5px solid #514d4d;
    text-align: center;
    

}

#footer{
    padding: 1vw 3vw;
    width: 100%;
    height: 40vh;
   
    /* background-color: #000000; */
   
   
}

#inner-footer
{
    width: 100%;
    height: 95%;
    display: grid;
    grid-template-columns: 30% 10% 20% 40%;
    grid-template-rows: 1fr 0.7fr 1.3fr;
    
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#inner-footer .heading{
    
    grid-column: 1/2;
    grid-row: 1/4;
}
#inner-footer .heading h1{
    position: relative;
}
#inner-footer .heading h1::after{
  
    content: "©";
    position: absolute;
    top: 5%;
    right: 23%;
    font-size: 1.5vw;
    color: #837171;
 }

#inner-footer .heading h1::before{
    content: "model management";
    position: absolute;
    font-size: 0.9vw;
    bottom: -1%;
    right: 30%;
    font-weight: 500;
    line-height: 0.05vw;
    letter-spacing: 0.07vw;
    color: #2e2a2a;

}
#inner-footer .col-2{
    grid-column: 2/3;
    grid-row: 1/4;
    border-right: 2px solid black;
}
#inner-footer .col-3{
    grid-column: 3/4;
    grid-row: 1/4;
    border-right: 2px solid black;
}
#inner-footer .col-4{
    grid-column: 4/5;
    grid-row: 1/2;
    border-bottom: 2px solid black;
}
#inner-footer #logos{
    display: flex
    ;
        margin: 1vw 2vw 0vw;
        font-size: 1.4vw;
        grid-column: 4 / 5;
        grid-row: 2 / 3;
        color: #3f3f3f;
        justify-content: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        align-items: stretch;
        gap: 1vw;
        transition: cursor, scaleX, box-shadow 0.5s ease-in;
  
}
#inner-footer #logos i:hover{
    cursor: pointer;
    transform: scaleX(1.3);
    box-shadow: 2px 1px 4px salmon;
}
#inner-footer #copyright{
    margin:0vw 2vw;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    font-size: 1vw;
    line-height: 1.6vw;
    letter-spacing: 0.05vw;
   color: #3f3f3f;
    margin:0vw 2vw;
}
#inner-footer .heading h1{
    display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.9vw;
        position: relative;
        font-weight: 900;
        margin-top: 0.7vw ;
        color: black;
     
}
#inner-footer .heading h1 a{
    color: #020202;
    text-decoration: none;
}
.f-text{
    display: flex
    ;
        justify-content: center;
        align-items: center;
        font-size: 1.7vw;
        font-weight: 500;
        margin-top: 1.5vw;
}

